<h1>Bienvenido a la Base de Datos de Musica</h1>
<p>El ejercicio cuenta con interfaz grafica por lo que no es necesario el uso de <strong>POSTMAN</strong></p>
<br><br>
<h2>Para ver las canciones existentes, ingrese a "/api/canciones"</h2>
<h2>Para agregar una cancion ingrese a "/api/add"</h2>
